.container{

  position: relative;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 98.7vw;
  
}

.profile__background {
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: margin .5s;
} 

.button-toggle {
  background: #fff;
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
}

@media only screen and (max-width: 1024px) {
  .container {
    overflow: hidden;

  }

}