.Journey {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #fff;
    gap: 50px;
  }
  
  .Journey__title {
    font-weight: 800;
    font-size: 48px;
    transition: 0.25s;
  }
  
  .Journey__Experience { 
    width: 38%;
  }
  
  .Journey__title:hover { 
    opacity: 0.7;
    cursor: default;
  }

  .Experience__title{
    transition: 0.2s;
  }
  .Experience__title:hover {
    opacity: 0.7;
    cursor: default;
  }
  .Experience__list{
    transition: 0.2s;
  }
  .Experience__list:hover {
    opacity: 0.7;
    cursor: default;
  }

  .Skill__title{
    transition: 0.2s;
  }
  .Skill__title:hover {
    opacity: 0.7;
    cursor: default;
  }
  .Skill__list{
    transition: 0.2s;
  }
  .Skill__list:hover {
    opacity: 0.7;
    cursor: default;
  }
  
@media only screen and (max-width: 1024px) {
  .Journey {
    overflow: hidden;

  }
  .Journey__content {
    font-size: 15px;
    gap: 20px;
  }
  .Journey__Skill__Content {
    width: 45%;
  }


}

@media only screen and (max-width: 847px) {
  .Journey {
    overflow: hidden;
    height: fit-content;

  }

  .Journey__title {
    margin-top: 50px;
  }
  .Journey__Skill__Content {
    width: 45%;
  }

  .Journey__content {

    font-size: 13px;
  }
}

@media only screen and (max-width: 847px) {

  .Journey__title {
    font-size: 50px;
  }
  .Journey__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 15px;
    width: fit-content;
    gap: 20px;
  }

  .Journey__content h2 {
    font-size: 20px;
  }

  .Journey__Skill__Content {
    margin: 20px 0 0 50px;
  }
}

@media only screen and (max-width: 540px) {

  .Journey__Experience {
    width: 400px;
  }
  .Journey__Skill__Content {
    margin: 20px 0 0 0;
    width: 400px;
  }
}