.profile { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  

  .profile__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .notes { 
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
    font-weight: 800;
  }
  .profile__title {
    
    color: #fff;
    font-weight: 700;
    
  }

  @media only screen and (max-width: 1024px) {
    .Profile {
      overflow: hidden;
      
    }

  }
