.profile { 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
  }
  
  

  
  .profile__title {
    color: #fff;
    font-weight: 700;
    
  }

  @media only screen and (max-width: 1024px) {
    .Profile {
      overflow: hidden;
      
    }

  }
