.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    height: 100vh;
    color: white;
  
  }
  
  .project__title {
    font-weight: 700;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
  }

  .project__title:hover {
    opacity: 0.7;
    cursor: default;
  }
  
  .project__card {
    display: grid;
    gap: 20px 40px;
    grid-template-columns: auto auto auto;

  }


  .card {
    width: 20rem;
    border-radius: 20px;
    height: 350px;
    padding: 20px 50px;
    transition: 0.5s ease-in;
  }

  

  
  .project__card .card h3 {
    color: #000;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .project__card .card img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
  }
  
  .project__button {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }


  .project__btn {
    background: #fff;
  
    border: 2px solid #dadada;
    width: fit-content;
    margin-top: 50px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.15s ease-in;
  }

  .project__btn:hover {
    background: #d1d1d1;
    box-shadow: 3px 3px #dadada;
    transform: scale(1.1);

  }
  .project__btn:active {
    background: #9e9e9e;

  }
  .project__btn a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .project__btn a img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }

  .project__content .project__title{
    font-size: 32px;
    font-weight: 700;
  }

@media only screen and (max-width: 1024px) {

  .project {
    overflow: hidden;
  }
  .project__card .card {
    width: 18rem;
    
  }
  
}

@media only screen and (max-width: 958px) {

  .project {
    overflow: hidden;
  }

  .project__card {
    width: fit-content;
    height: fit-content;
  }
  .project__card .card {
    width: 16rem;
    height: 16rem;
    
  }

  .project__card .card img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }
  .project__content .project__title{
    font-size: 32px;
    font-weight: 700;
  }

  .project__button {
    
  }
}

@media only screen and (max-width: 848px) {

  .project {
    position: relative;
    height: 100%;

  }
  .project__content {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project__title {
    margin-top: 150px;
  }
  .project__card {
    grid-template-columns: auto;
  }
  .project__card .card {
    width: 16rem;
    height: 16rem;
    
  }

  .project__card .card img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }

  .project__btn { 

    margin-bottom: 20px;
  }
  .project__content .project__title{
    font-size: 32px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 480px) {
  .project__content .project__title{
    font-size: 32px;
    font-weight: 700;
  }

}